@import url('https://fonts.googleapis.com/css2?family=Jaturat&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jaturat', sans-serif;
  color: rgba(0, 0, 0, 0.9);
}